<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Verify ACT Test HomePage
Expected: a value greater than &lt;0&gt;
     Actual: &lt;1&gt; was greater than &lt;0&gt; <a href="img/unusefulQuestion_1vdnuliynfpz833129.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Verify Quiz Home Page
Expected: a string containing "Take a quiz"
     Actual: was "Take a quiz" <a href="img/unusefulQuestion_bnjfn4b5fxeb33130.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Verify Setting Page
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="img/unusefulQuestion_1216nbyupplit33131.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>One route along flat terrain from Hermansville to Melville is to drive straight north from Hermansville for 120 miles to Jamestown, then, at Jamestown, to drive straight west for 80 miles to Melville. If a straight, flat road existed between Hermansville and Melville, approximately how many miles long would it be? <a href="img/unusefulQuestion_1egb3uo26sgx533132.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>