<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Verify ACT Test HomePage
Expected: a value greater than &lt;0&gt;
     Actual: &lt;1&gt; was greater than &lt;0&gt; <a href="img/unusefulQuestion_f6gy81kv33h634368.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Verify Quiz Home Page
Expected: a string containing "Take a quiz"
     Actual: was "Take a quiz" <a href="img/unusefulQuestion_lx113zs54uk634369.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Verify Setting Page
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="img/unusefulQuestion_16zkxhg7fzm3p34370.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Justin owns 6 different dress shirts, 3 different pairs of pants, and 5 different ties. How many distinct outfits, each consisting of a shirt, a pair of pants, and a tie, can Justin make? <a href="img/unusefulQuestion_8pxby12t3yhb34371.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>